#todo-list {
    margin: 0 auto;
    margin-top: 150px;
    width: 500px;
}

.todo-item {
    height: 40px;
    margin-bottom: 8px;
    padding: 5px 10px;
}

#todo-list-divider {
    margin: 15px auto;
}

#todo-input {
    height: 60px;
    display: flex;
    align-items: center;
}

#add-button {
    float: right;
}